@use "Setting" as *;

.p-access__wraper {
    display: flex;
    justify-content: space-between;

    @include mq(md) {
        flex-direction: column;
    }
}

.p-access__map {
    width: 51.5%;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;

    @include mq(md) {
        width: 100%;
        padding-bottom: 80%;
    }
}

.p-access__map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.p-access__info {
    width: 45.1%;

    @include mq(md) {
        width: 100%;
        text-align: center;
    }
}

.p-access__info-logo {
    width: rem(263);
    margin-bottom: rem(25);

    @include mq(md) {
        width: rem(200);
        margin: rem(25) auto rem(25);
    }
}

.p-access__info-postcode {
    @include mq(md) {
        display: block;
    }
}

.p-access__info-address {
    margin-left: rem(16);

    @include mq(md) {
        display: block;
        margin-top: rem(10);
    }
}

.p-access__info-tel {
    margin-top: rem(25);
    margin-left: rem(28);
    font-size: rem(24);
    color: $text-color;
    font-weight: bold;
}

.p-access__info-tel a {
    position: relative;
}

.p-access__info-tel a::before {
    content: url("/assets/img/telphone.svg");
    position: absolute;
    top: rem(7);
    left: rem(-30);
}

.p-access__info-hours {
    margin-top: rem(26);
    border-top: 2px solid $border-color;
    border-bottom: 2px solid $border-color;
    display: flex;
    flex-wrap: wrap;
    font-size: rem(14);

    @include mq(lg) {
        flex-direction: column;
    }
}

.p-accrss__info-hours-title {
    width: 16%;
    padding-right: rem(10);
    margin-top: rem(19);
    padding-top: rem(3);

    @include mq(lg) {
        width: rem(64);
        border-bottom: 2px solid $border-color;
        padding: 0 rem(3) rem(5);
        margin: rem(19) auto 0;
        text-align: center;
        height: rem(20);
    }
}

.p-access__info-hours-container {
    width: 84%;
    border-left: 2px solid #e7e7e7;
    padding-left: rem(28);

    @include mq(lg) {
        width: 100%;
        border: none;
        text-align: center;
        padding-left: 0;
        margin-left: 0;
    }
}

.p-access__info-hours-container--first {
    padding-top: rem(3);
    margin-top: rem(19);
}

.p-access__info-hours-container--second {
    margin-left: 16%;
    padding-top: rem(13);
}

.p-access__info-hours-container--therd {
    padding-bottom: rem(6);
    margin-bottom: rem(28);
    margin-left: 16%;
    padding-top: rem(13);

    @include mq(lg) {
        margin-bottom: rem(10);
    }
}

.p-access__info-hours-day {
    display: inline-block;
    background: linear-gradient(transparent 70%, #99e5a5 70%);
}

.p-access__info-hours-am {
    margin-left: rem(23);
    display: inline-block;
}

.p-access__info-hours-pm {
    margin-left: rem(17);
    display: inline-block;
}

.p-accrss__info-hours-title--last {
    margin-top: 0;
}

.p-access__info-hours-container--last {
    padding-top: rem(5);
    padding-bottom: rem(4);
    margin-bottom: rem(15);

    @include mq(lg) {
        margin: 0 auto rem(15);
    }
}

.p-access__copy-right {
    font-size: rem(11);
    text-align: right;
    margin-top: rem(21);
}
