@use "Setting" as *;

.p-fv {
    height: rem(947);
    background-image: url("../img/fv.png");
    background-size: cover;
    background-position: center;
    position: relative;

    @include mq(md) {
        background-position: 70%;
    }

    @include mq(md) {
        height: rem(600);
    }
}
