@charset "UTF-8";
html {
  font-family: "Noto Sans JP", sans-serif;
  scroll-behavior: smooth;
  font-size: 16px;
  color: #444444;
}

img {
  width: 100%;
  height: auto;
}

.sp-only {
  display: none;
}

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a:visited {
  color: inherti;
}

address {
  font-style: normal;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}


.l-about {
  padding-top: 10.125rem;
  padding-bottom: 5.125rem;
}

.l-access {
  padding-top: 12.25rem;
  padding-bottom: 10.1875rem;
}

.l-inner {
  max-width: 71.25rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.l-news {
  padding-top: 5.0625rem;
  padding-bottom: 7rem;
  background-color: #f5fcf8;
}

.l-therapy {
  padding-top: 4.875rem;
  background-color: #f5fcf8;
}

.c-section-title {
  font-size: 1.5rem;
  text-align: center;
}

.c-section-title__left {
  text-align: left;
}

.c-section-title span {
  font-weight: bold;
  background: linear-gradient(transparent 70%, #99e5a5 70%);
}

.c-section-title span:last-child {
  margin-top: 31px;
  display: inline-block;
}

.p-about__container {
  display: flex;
  justify-content: space-between;
  max-width: 73.75rem;
  margin: 0 auto;
}

.p-about__content {
  margin-left: 1.25rem;
  margin-top: 1.875rem;
}

.p-about__text {
  margin-top: 2.3125rem;
  line-height: 3.2em;
}

.p-about__img-content {
  margin-left: 2.75rem;
  width: 58%;
}

.p-access__wraper {
  display: flex;
  justify-content: space-between;
}

.p-access__map {
  width: 51.5%;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.p-access__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-access__info {
  width: 45.1%;
}

.p-access__info-logo {
  width: 16.4375rem;
  margin-bottom: 1.5625rem;
}

.p-access__info-address {
  margin-left: 1rem;
}

.p-access__info-tel {
  margin-top: 1.5625rem;
  margin-left: 1.75rem;
  font-size: 1.5rem;
  color: #21a937;
  font-weight: bold;
}

.p-access__info-tel a {
  position: relative;
}

.p-access__info-tel a::before {
  content: url("/assets/img/telphone.svg");
  position: absolute;
  top: 0.4375rem;
  left: -1.875rem;
}

.p-access__info-hours {
  margin-top: 1.625rem;
  border-top: 2px solid #e7e7e7;
  border-bottom: 2px solid #e7e7e7;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.875rem;
}

.p-accrss__info-hours-title {
  width: 16%;
  padding-right: 0.625rem;
  margin-top: 1.1875rem;
  padding-top: 0.1875rem;
}

.p-access__info-hours-container {
  width: 84%;
  border-left: 2px solid #e7e7e7;
  padding-left: 1.75rem;
}

.p-access__info-hours-container--first {
  padding-top: 0.1875rem;
  margin-top: 1.1875rem;
}

.p-access__info-hours-container--second {
  margin-left: 16%;
  padding-top: 0.8125rem;
}

.p-access__info-hours-container--therd {
  padding-bottom: 0.375rem;
  margin-bottom: 1.75rem;
  margin-left: 16%;
  padding-top: 0.8125rem;
}

.p-access__info-hours-day {
  display: inline-block;
  background: linear-gradient(transparent 70%, #99e5a5 70%);
}

.p-access__info-hours-am {
  margin-left: 1.4375rem;
  display: inline-block;
}

.p-access__info-hours-pm {
  margin-left: 1.0625rem;
  display: inline-block;
}

.p-accrss__info-hours-title--last {
  margin-top: 0;
}

.p-access__info-hours-container--last {
  padding-top: 0.3125rem;
  padding-bottom: 0.25rem;
  margin-bottom: 0.9375rem;
}

.p-access__copy-right {
  font-size: 0.6875rem;
  text-align: right;
  margin-top: 1.3125rem;
}

.p-copy-boxes {
  position: absolute;
  margin-top: 8.3125rem;
  margin-left: 13.1875rem;
  display: flex;
  flex-direction: row-reverse;
  gap: 5rem;
}

.p-copy-boxes__item {
  width: 6.375rem;
  height: 35.3125rem;
  background-color: #fff;
  padding: 1.5rem 0;
}

.p-copy-boxes__item-text {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 1.75rem;
  font-weight: bold;
  color: #444;
  letter-spacing: 0.2em;
  margin: 0 auto;
}
.p-copy-boxes__item-text .text-accent-color {
  font-weight: bold;
  color: #21a937;
}

.p-fv {
  height: 59.1875rem;
  background-image: url("/assets/img/fv.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.p-header {
  display: flex;
  justify-content: space-between;
  padding: 1.8125rem;
  max-width: 68.75rem;
  margin-inline: auto;
}
.p-header__logo img {
  width: 16.4375rem;
}

.p-news__list {
  display: flex;
  flex-direction: column;
  margin-top: 4.375rem;
  padding: 3.125rem 4.125rem 2.875rem;
  background-color: #fff;
  border-radius: 1.875rem;
  box-shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.1607843137);
}

.p-news__item {
  display: flex;
  padding: 1.21875rem 0;
  border-bottom: 2px solid #e7e7e7;
}

.p-news__item-time {
  color: #21a937;
  font-weight: bold;
}

.p-news__item-tag {
  margin-left: 1.25rem;
  min-width: 5rem;
  height: 1.5625rem;
  line-height: 1.5625rem;
  text-align: center;
  background-color: #444444;
  color: #fff;
  font-size: 0.75rem;
  font-weight: bold;
}

.p-news__item-text {
  margin-left: 1.875rem;
  font-weight: bold;
}

.p-news__btn-wraper {
  margin-top: 2.4375rem;
  text-align: right;
}

.p-news__link {
  font-weight: bold;
  position: relative;
}

.p-news__link::after {
  content: "";
  position: absolute;
  top: 55%; /* 縦軸をセンタリングする */
  right: -1.4375rem;
  transform: translateY(-50%); /* 縦軸をセンタリングする */
  border: 8px solid transparent;
  border-left: 10px solid #555; /* 好みで色を変えてください */
}

.p-pc-nav__tel-wraper {
  text-align: right;
  margin-top: 0.625rem;
}

.p-pc-nav__info {
  font-size: 0.875rem;
}

.p-pc-nav__tel {
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
  color: #21a937;
}

.p-pc-nav__tel::after {
  content: "";
  position: absolute;
  top: 0.3125rem;
  left: -1.875rem;
  display: block;
  background-image: url("/assets/img/telphone.svg");
  background-size: cver;
  height: 1.5rem;
  width: 1.5rem;
}

.p-therapy__text {
  text-align: center;
  margin-top: 4.375rem;
}

.p-therapy__list {
  margin-top: 2.125rem;
  display: flex;
  justify-content: center;
  gap: 1.25rem;
}

.p-therapy__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 23.75rem;
  padding: 2.5rem 2.375rem 0;
  border: solid 2px #e7e7e7;
  border-radius: 0.625rem;
  background-color: #fff;
}

.p-therapy__item-title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

.p-therapy__item-content {
  font-weight: bold;
  margin-top: 2.8125rem;
  line-height: 2.3em;
  flex: 1 1 auto;
}

.p-therapy__item-img {
  text-align: center;
}
.p-therapy__item-img img {
  width: 11.6875rem;
}
@media screen and (max-width:821px) {
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
  .l-about {
    padding-top: 5rem;
    padding-bottom: 1.875rem;
  }
  .l-access {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
  .l-news {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
  .l-therapy {
    padding-top: 1.875rem;
  }
  .p-access__wraper {
    flex-direction: column;
  }
  .p-access__map {
    width: 100%;
    padding-bottom: 80%;
  }
  .p-access__info {
    width: 100%;
    text-align: center;
  }
  .p-access__info-logo {
    width: 12.5rem;
    margin: 1.5625rem auto 1.5625rem;
  }
  .p-access__info-postcode {
    display: block;
  }
  .p-access__info-address {
    display: block;
    margin-top: 0.625rem;
  }
  .p-copy-boxes {
    margin-left: 8%;
    gap: 1.25rem;
  }
  .p-copy-boxes {
    margin-top: 3.75rem;
  }
  .p-copy-boxes__item {
    width: 3.125rem;
    height: auto;
  }
  .p-copy-boxes__item-text {
    font-size: 1.25rem;
  }
  .p-fv {
    background-position: 70%;
  }
  .p-fv {
    height: 37.5rem;
  }
  .p-header {
    flex-direction: column;
  }
  .p-header__logo {
    text-align: center;
  }
  .p-header__logo img {
    width: 12.5rem;
  }
  .p-news__item {
    flex-wrap: wrap;
  }
  .p-news__item-text {
    width: 100%;
    margin-left: 0;
    margin-top: 1.25rem;
  }
  .p-pc-nav {
    text-align: center;
  }
  .p-pc-nav__tel-wraper {
    text-align: center;
  }
  .p-pc-nav__info {
    line-height: 1.4em;
    margin-top: 1.25rem;
  }
  .p-pc-nav__tel {
    margin-left: 1.25rem;
  }
  .p-therapy__text {
    line-height: 2.3em;
    margin-top: 1.875rem;
  }
  .p-therapy__list {
    flex-direction: column;
  }
  .p-therapy__item {
    width: 100%;
  }
  .p-therapy__item-img {
    margin-top: 3.75rem;
  }
}
@media screen and (max-width:1024px) {
  .c-section-title__left {
    text-align: center;
    margin-top: 1.25rem;
  }
  .p-about {
    text-align: center;
  }
  .p-about__container {
    flex-direction: column-reverse;
  }
  .p-about__content {
    margin-left: 0;
  }
  .p-about__text {
    line-height: 1.8em;
  }
  .p-about__img-content {
    margin: 0 auto;
    width: 100%;
    padding: 0 1.25rem;
  }
  .p-access__info-hours {
    flex-direction: column;
  }
  .p-accrss__info-hours-title {
    width: 4rem;
    border-bottom: 2px solid #e7e7e7;
    padding: 0 0.1875rem 0.3125rem;
    margin: 1.1875rem auto 0;
    text-align: center;
    height: 1.25rem;
  }
  .p-access__info-hours-container {
    width: 100%;
    border: none;
    text-align: center;
    padding-left: 0;
    margin-left: 0;
  }
  .p-access__info-hours-container--therd {
    margin-bottom: 0.625rem;
  }
  .p-access__info-hours-container--last {
    margin: 0 auto 0.9375rem;
  }
  .p-therapy__item-title {
    font-size: 1.125rem;
  }
  .p-therapy__item-content {
    margin-top: 1.5rem;
    line-height: 1.8em;
  }
  .p-therapy__item-img img {
    width: 8.125rem;
  }
}
/*# sourceMappingURL=maps/style.css.map */
