@use "Setting" as *;

.l-news {
    padding-top: rem(81);
    padding-bottom: rem(112);
    background-color: $background-color;

    @include mq(md) {
        padding-top: rem(30);
        padding-bottom: rem(30);
    }
}
